{% extends 'base.html' %}

{% block content %}
  <h3>{{ app_nama }}</h3>

  <div>
    <h5>Name: </h5>
    <p>{{ name }}</p>

    <h5>NPM: </h5>
    <p>{{ npm }}</p>

    <h5>Class: </h5>
    <p>{{ class }}</p>
  </div>

  <h1>Product List</h1>

  {% if product %}
    <table>
      <thead>
        <tr>
          <th>Nama Produk</th>
          <th>Harga</th>
          <th>Deskripsi</th>
        </tr>
      </thead>
      <tbody>
        {% for item in product %}
        <tr>
          <td>{{ item.name }}</td>
          <td>Rp {{ item.price }}</td>
          <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Belum ada produk yang ditambahkan.</p>
  {% endif %}

  <br />

  <div class="actions">
    <a href="{% url 'main:create_product' %}">
      <button>Tambah Produk Baru</button>
    </a>

    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>
  </div>

  <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
